
{% load static %}
<div class="invoice-info" id="invoice_wrapper">
    <div class="invoice-header">
        <div class="row">
            <div class="col-md-6">
                <div class="logo d-flex align-items-center">
                    <a href="index.html" class="mr-20"><img src="{% static 'assets/imgs/theme/favicon.svg' %}" alt="logo" /></a>
                    <div class="text">
                        <strong class="text-brand">HandiCrafts</strong> <br />
                        123 Artisan Street, Craftsville, TX
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-end">
                <h2>INVOICE</h2>
            </div>
        </div>
    </div>
    <div class="invoice-banner">
        <img src="{% static 'assets/imgs/invoice/banner.png' %}" alt="">
    </div>
    <div class="invoice-center">
        <div class="table-responsive">
            <table class="table table-striped invoice-table">
                <thead class="bg-active">
                    <tr>
                        <th>Title</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-right">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart_data.values %}
                    <tr>
                        <td>
                            <div class="item-desc-1">
                                <span>{{ item.title }}</span>
                            </div>
                        </td>
                        <td class="text-center">
                            {% if request.session.exchange_rate %}
                            <i class="{{request.session.currency_icon}}"></i>
                            {% else %}
                            {{"$"}}
                            {% endif %} 
                            
                            {{ item.price }}
                        </td>
                        <td class="text-center">{{ item.qty }}</td>
                        <td class="text-right">
                            {% if request.session.exchange_rate %}
                            <i class="{{request.session.currency_icon}}"></i>
                            {% else %}
                                {{"$"}}
                            {% endif %}
                            {% widthratio item.price 1 item.qty %}.00</td>
                    </tr>
                    {% endfor %}

                    <tr>
                        <td colspan="3" class="text-end f-w-600">SubTotal</td>
                        <td class="text-right">
                            {% if request.session.exchange_rate %}
                            <i class="{{request.session.currency_icon}}"></i>
                            {% else %}
                                {{"$"}}
                            {% endif %}
                            
                            {{ cart_total_amount }}</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="text-end f-w-600">Grand Total</td>
                        <td class="text-right f-w-600">
                            {% if request.session.exchange_rate %}
                            <i class="{{request.session.currency_icon}}"></i>
                            {% else %}
                            {{"$"}}
                            {% endif %}
                            {{ cart_total_amount }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="invoice-bottom pb-80">
        <div class="row">
            <div class="col-md-6">
                <h6 class="mb-15">Billing Information</h6>
                <p class="font-sm">
                    <strong>Name:</strong> {{ billing.name }}<br />
                    <strong>Email:</strong> {{ billing.email }}<br />
                    <strong>Mobile:</strong> {{ billing.phone }}<br />
                    <strong>Street Address:</strong> {{ billing.street_address }}<br />
                    <strong>City:</strong> {{ billing.city }}<br />
                    <strong>State:</strong> {{ billing.state }}<br />
                    <strong>Postal Code:</strong> {{ billing.postal_code }}<br />
                    <strong>Country:</strong> {{ billing.country }}<br />
                    <strong>Payment Method:</strong> {{ billing.payment_method }}<br />
                </p>
            </div>
            <div class="col-md-6 text-end">
                <h6 class="mb-15">Shipping Information</h6>
                <p class="font-sm">
                    <strong>Name:</strong> {{ shipping.name }}<br />
                    <strong>Email:</strong> {{ shipping.email }}<br />
                    <strong>Mobile:</strong> {{ shipping.phone }}<br />
                    <strong>Street Address:</strong> {{ shipping.street_address }}<br />
                    <strong>City:</strong> {{ shipping.city }}<br />
                    <strong>State:</strong> {{ shipping.state }}<br />
                    <strong>Postal Code:</strong> {{ shipping.postal_code }}<br />
                    <strong>Country:</strong> {{ shipping.country }}<br />
                </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="hr mt-30 mb-30"></div>
            <p class="mb-0 text-muted"><strong>Hey {{ request.user.username|title }}, </strong>Thanks for shopping with us!</p>
        </div>
    </div>
</div>