{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="{% url 'core:index' %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                    <span></span> Shop
                    <span></span> Checkout
                </div>
            </div>
        </div>
        <div class="container mb-80 mt-50">
            <div class="row">
                <div class="col-lg-8 mb-40">
                    <h1 class="heading-2 mb-10">Order Summary</h1>
                    <div class="d-flex justify-content-between">
                        <h6 class="text-body">You have<span class="text-brand">{{ totalcartitems }}</span> handcrafted items in your cart</h6>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7">
          
                        <h4>Billing Information</h4>
                        <br/>
                        <div>Name: {{ billing.name }}</div>
                        <div>Email: {{ billing.email }}</div>
                        <div>Phone: {{ billing.phone }}</div>
                        <div>Street Address: {{ billing.street_address }}</div>
                        <div>City: {{ billing.city }}</div>
                        <div>State: {{ billing.state }}</div>
                        <div>Postal Code: {{ billing.postal_code }}</div>
                        <div>Country: {{ billing.country }}</div>
                        <div>Payment Method: {{ billing.payment_method }}</div>                        
        
                        <h4 class="mt-30">Shipping Information</h4>
                        <br/>
                        <div>Name: {{ shipping.name }}</div>
                        <div>Email: {{ shipping.email }}</div>
                        <div>Phone: {{ shipping.phone }}</div>
                        <div>Street Address: {{ shipping.street_address }}</div>
                        <div>City: {{ shipping.city }}</div>
                        <div>State: {{ shipping.state }}</div>
                        <div>Postal Code: {{ shipping.postal_code }}</div>
                        <div>Country: {{ shipping.country }}</div>    
                </div>
                <div class="col-lg-5">
                    {% include 'partials/order-card.html' %}
                    
                    <div class="payment ml-30">
                        <h4 class="mb-30">Payment Options</h4>
                        <div class="payment_option">
                            <div class="custome-radio">
                                <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios3" checked="">
                                <label class="form-check-label" for="exampleRadios3" data-bs-toggle="collapse" data-target="#bankTranfer" aria-controls="bankTranfer">PayPal</label>
                            </div>
                            <div class="custome-radio">
                                <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios5" checked="">
                                <label class="form-check-label" for="exampleRadios5" data-bs-toggle="collapse" data-target="#paypal" aria-controls="paypal">Credit/Debit Cards</label>
                            </div>
                        </div>
                        <div class="payment-logo d-flex">
                            <img class="mr-15" src="{% static 'assets/imgs/theme/icons/payment-paypal.svg' %}" alt="">
                            <img class="mr-15" src="{% static 'assets/imgs/theme/icons/payment-visa.svg' %}" alt="">
                            <img class="mr-15" src="{% static 'assets/imgs/theme/icons/payment-master.svg' %}" alt="">
                            <img src="{% static 'assets/imgs/theme/icons/payment-zapper.svg' %}" alt="">
                        </div>
                        <div class="w-50">
                            {{paypal_payment_button.render}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}

<script>
document.querySelector('form').addEventListener('submit', function(e) {
    const requiredFields = document.querySelectorAll('input[required]');
    let isValid = true;

    requiredFields.forEach(field => {
        if (!field.value.trim()) {
            isValid = false;
            field.style.borderColor = 'red';
        } else {
            field.style.borderColor = '';
        }
    });

    if (!isValid) {
        e.preventDefault(); // Prevent form submission
        alert('Please fill out all required fields.');
    }
});
</script>



